<?xml version="1.0"?>
<!--
/**
* Copyright © PH2M SARL. All rights reserved.
* See LICENSE for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PH2M_Elasticsearch">
        <sequence>
            <module name="Magento_Elasticsearch"/>
            <module name="Magento_CatalogDataExporter"/>
        </sequence>
    </module>
</config>
