<?xml version="1.0"?>
<!--
/**
* Copyright © PH2M SARL. All rights reserved.
* See LICENSE for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ph2m_elasticsearch" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Elasticsearch</label>
            <tab>catalog</tab>
            <resource>PH2M_Elasticsearch::configuration</resource>
            <group id="global" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Global</label>
                <field id="global_vote" translate="label" type="text" sortOrder="60" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Global vote</label>
                </field>
                <field id="global_score" translate="label" type="text" sortOrder="50" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Global score</label>
                </field>
            </group>
        </section>
    </system>
</config>
